{% extends 'master.html'%}

{% block content%}
{% if events %}
<table>
        <th>Event</th>
        <th>Start At</th>
        <th>Duration</th>
        <th></th>
        <th></th>
    {% for x in events %}
    <tr class="{{x.timestatus}}">
        <td><a href="details/{{x.id}}">{{x.title}}</a></td>
        <td>{{x.start}}</td>
        <td>{{x.duration}}</td>
        <td>{{x.status}}</td>
        <td>{{x.timestatus}}</td>
    </tr>
    
    {% endfor %}
</table>
{% else %}
<p>There is no events</p>
{% endif %}
{% endblock %}