table {
  width: 90%;
  border: 1px;
  border-collapse: collapse;
  margin:auto;
}
table th {
    background-color: hotpink;
}
.past {
  background-color: blue;
}
.present {
  background-color: chartreuse;
}
.future {
  background-color: rgba(255, 0, 0, 0.82);
}
