table tr,td,th {
    border:1px;
    border-collapse: collapse;
} 
.past {
    background-color: blue;
   
}
.present {
    background-color:chartreuse;
}
.future {
    background-color:rgba(255, 0, 0, 0.82);
} 